<app-navbar></app-navbar>
<body>
    <div class="container">
        <h3>Book Your Trip</h3>
        <p>Hotel Booking</p>
        <form [formGroup]="HotelBooking">
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" formControlName="inDate">
                        <label for="floatingInput">Check-in Date </label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" id="floatingInput" formControlName="outDate">
                        <label for="floatingInput"> Check-out Date </label>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control" id="floatingInput" formControlName="inTime">
                        <label for="floatingInput"> Check-in Time</label>
                      </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="time" class="form-control" id="floatingInput" formControlName="outTime">
                        <label for="floatingInput"> Check-out Time</label>
                      </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" formControlName="type" aria-label="Floating label select example">
                  <option >Vila</option>
                  <option >Cottage</option>
                  <option >Dulex</option>
                  <option >Regular</option>
                </select>
                <label for="floatingSelect">Type</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" formControlName="food" aria-label="Floating label select example">
                  <option >Pure Veg</option>
                  <option >Non-veg</option>
                  <option >No food</option>
                </select>
                <label for="floatingSelect">Food</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" formControlName="floorType" aria-label="Floating label select example">
                  <option >Top Floor</option>
                  <option >Ground Floor</option>
                  <option >Any</option>
                </select>
                <label for="floatingSelect">Floor preference</label>
                <span style="font-weight: 100;font-size: small;color: white;">If regular</span>
            </div>    
            <div class="checkbox">
                <input type="checkbox" >&nbsp;
                <label for="checkbox" style="color: white;"> Coupoun</label>
             </div>  
             <div class="button">    
                <button class="btn btn-info" routerLink="/form2">Previous</button>    
                <button class="btn btn-info" id="save" (click)="saveData()">Save</button>
                <button class="btn btn-info"  routerLink="/form3" >Next</button>
            </div>     
        </form>
    </div>
</body>
